@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

.app {
  width: 100%;
  height: 100%;
  background-color: #1b1a1a;
}

body {
  background-color: #1b1a1a;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  z-index: -1;
}
